* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_container {
    display : grid;
    grid-template-columns:32% 68%;
    grid-gap: 1rem;
    height : 30%;

}

.four-columns-div-user-controls {
    background-color:#7a99ed ;
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: flex-start;
    
    
}

.four-columns-div-user-controlsreel {

    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: flex-start;
    width : 100%;


}

.userControlDownSide {
    width : 100%;
    
}
.userControlDownSideCreated {
    background-color:white;
    display : grid;
    grid-template-columns:50% 50%;

    height :826px;

}
.userControlDownLeftSide {
    display: flex;
    flex-direction : column;
    background-color: #d0cfcb;

}
.userControlDownRightSide {

    display: flex;
    flex-direction : column;
    background-color:#ffe2c3;

}
.icon_position {
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;
    width:12%;
    float : left;
    position : right;
    background-color : #d6f2f2;
    border-radius : 1rem;
}
.icon_position1 {
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;
    width:45%;
    float : left;
    position : right;
    background-color : #fcf7ed;
    border-radius : 1rem;

}
.icon_position3 {
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;
    width:18%;
    float : left;
    position : right;
    background-color : #d6f2f2;
    border-radius : 1rem;

}
.icon_position4 {
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;
    width:12%;
    float : left;
    position : right;
    background-color : #fcf7ed;
    border-radius : 1rem;
}

.aa{ 
    display: flex;
    flex-direction : column;
    justify-content: center;
}

.aadb{
    display: flex;
    flex-direction : column;
    justify-content: center;
    /*margin-left : 2vw*/
}
.aadbknob{
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
}
.aadbpage4{
    display: flex;
    flex-direction : column;
    justify-content: center;
    background-color: #f9faf0
}

.page4reel{
    display: flex;
    flex-direction : column;
    justify-content: space-between;
    margin-left : 2rem
}
.page4reeldb{
    margin-left : 10rem
}

.page2design1{
    display: flex;
    flex-direction : column;
    justify-content: center;
    width : 40vw
}
.aatab4{
    display: flex;
    flex-direction : column;
    justify-content: center;
    margin : 1rem;
}


.ac{
    display: flex;
    flex-direction : column;
    justify-content: space-around;
}
.acreel{
    display: flex;
    flex-direction : column;
    justify-content: flex-start;
    align-content: flex-start;
    background-color : rgb(244, 240, 250)
}
.acsecond{
    display: flex;
    flex-direction : row;
    justify-content: center;

}
.ad{
    display: flex;
    flex-direction : row;
    margin : -120px -110px -120px 140px;



}
.adc{
    display: flex;
    flex-direction : column;
    margin : 82px -110px -120px 200px;

}
.ab{ 
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;
    align-items : center;
    width : 40rem;
    background-color : #d6f2f2;
    border-radius: 0.5rem;
    margin-left : 1rem;
}
.ab-page-3{
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;
    align-items : center;
    width : 40rem;

    border-radius: 0.5rem;
    margin-left : 1rem;
}
.ab-tab-1{
    display: flex;
    flex-direction : row;
    justify-content:space-around;
    background-color : #d6f2f2

}
.abpage1{
    display: flex;
    flex-direction : column;
    align-items : center;
    justify-content : space-evenly;
    align-content : center;
    border-radius: 0.5rem;


}
.abpage2{
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;

    border-radius: 0.5rem;

}
.abpower{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto auto auto;
    width : 100%;


}
.boxdesign1,.boxdesign2,.boxdesign3,.boxdesign4 {
     background-color : black;
     margin : 0.5rem ;

}
.dark-theme-control {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: row1-start;
  grid-row-end:3;
  margin : 1rem
}
#link1, #link5 {
  text-decoration: none;
  text-transform: uppercase;
  color : black;

}
#link2, #link6   {
  text-decoration: none;
  text-transform: uppercase;
  color : black ;
}
#link3, #link7   {
  text-decoration: none;
  text-transform: uppercase;
  color : black
}
#link4, #link8  {
  text-decoration: none;
  text-transform: uppercase;
  color : black
}
.abdb{
    display: flex;
    flex-direction : row;
    justify-content:space-around;
    width : 40%
}
.aadb{
    display: flex;
    flex-direction : column;
    justify-content:flex-start;

}
.abtab4{
    display: flex;
    flex-direction : row;
    background-image: radial-gradient( circle farthest-corner at 0.5% 99%, rgba(141,182,244,1) 0%, rgba(18,116,231,1) 90.1% );
    box-sizing: border-box;
    margin : 10px;
    width : 40vw;
    border-radius: 0.5rem;

}

.abdbside{
    background-image: radial-gradient( circle farthest-corner at 0.5% 99%, rgba(141,182,244,1) 0%, rgba(18,116,231,1) 90.1% );
    box-sizing: border-box;
    width : 10vw;
    border-radius: 0.5rem;

}
.abdbside-db{
    background-image: radial-gradient( circle farthest-corner at 0.5% 99%, rgba(141,182,244,1) 0%, rgba(18,116,231,1) 90.1% );
    box-sizing: border-box;
    width : 10vw;
    height : 10vw;
    border-radius: 0.5rem;

}
.calculIntegral {
    margin : 1.8rem 0 0 4rem;
    box-sizing: unset!important;

    }
.abTab4{
    display: flex;
    flex-direction : row;
    justify-content:space-between;
    width : 60%;
    margin : 10px;
    background : #f5f5f5

}
.abdbase{
    display: flex;
    flex-direction : row;
    justify-content:space-between;
    width : 80%;
    margin : auto;
    background : #f5f5f5

}
.abTab4_1{
    display: flex;
    flex-direction : row;
    justify-content:space-between;
    width : 100%;
    margin : 10px;

}


.abc{ 
    display: flex;
    flex-direction : row;
    justify-content: space-between;

}


.abcdbpr{
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;
    width :50rem;
    margin : 2rem;
    border-radius: 0.5rem;
}
.abcdbprGraph{
    display: flex;
    flex-direction : row;
    justify-content: space-between;
    width : 1200px;
    margin : 2rem
}
.abcTab4{
    display: flex;
    flex-direction : row;
    justify-content: flex-start;
    margin-top : 30px;
    width : 60vw

}
.abcd{ 
    display: flex;
    flex-direction : row;
}

.abcdb{
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;
    width : 85%;
}

.abcdbpage4upleft{
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;
    margin-left : 15rem;
    flex-wrap: nowrap;

    width : 80%;

}
.abcdbgraphtab1{
    margin : auto;


}
.abcdbpage4{
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;
    width : 100%;
    background-color: #c0e9eb;

}
.page4up{
    display: flex;
    flex-direction : column;
    justify-content: center;
    margin : 2rem
}

.page4graph1{
    display: flex;
    flex-direction : row;
    justify-content: flex-start;
    margin-bottom : 5rem
}

.abcdb_graph{
    display: flex;
    flex-direction : row;
    margin-top : 10em;
    width : 70vw;
    margin-left : 5rem

}
.abcdb_graph2{
    display: flex;
    flex-direction : row;
    margin-top : 10em;
    width : 70vw;
    justify-content : center

}


.shift{
    display: flex;
    flex-direction : row;
    justify-content: flex-start;
    margin : 1.5rem;
    border: 1px solid transparent;
    background-Color : #c0e9eb;
    color : #050505;
    border-radius: 0.3rem;

    }

#active_server {
    background-color: #0fb315; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    align-content: center;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 0.3rem;
    margin : 2rem;
    
}
#active_server:hover {
    background-color: #0c500f; /* Green */
    color: white;
  }
#active_server:active {
    background-color: #021302; /* Green */
    color: white;
  }
/* .div-for-dropdown {
    width : 90%;
    
} */
/*leftside dropdown*/
.value_design {
    display : block;
    padding : 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    width : 100%;


}
/*Rightside dropdown- add-filter*/
.stockSelectorClass{
    margin-top : 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    width: 90%;
    margin: auto;
}
.prstyle {
    display : flex;
    flex-direction: row;
    justify-content:space-between;
    width : 100%;
    margin-left:-10rem;
}
 /*rightside input design*/
.design_children {
    display : flex;
    flex-direction: row;
    justify-content:space-between;
    color: white;
    width : 100%;
}
.design_children2 {
    display : flex;
    flex-direction: row;
    justify-content:space-between;
    width : 100%;
    cursor : pointer;
}
/* asagi ilave*/
.design_children3 { 
    display : flex;
    flex-direction: row;
    justify-content:space-between;
    width : 90%;
    margin-top: 20px;
    margin-right: 10px;
    cursor : pointer;
    width : 80%
    
}
/*##########################*/
.button_place {
    display : flex;
    flex-direction: row;
    height : 40px
   
}
.add_design {
        display : flex;
        flex-direction: row;
        justify-content:flex-start;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    width : 90%;
    
}

.rightsidedesign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    width : 60%;

}

.group-labels {
    font: bold 18px Roboto, sans-serif;
    padding: 6px 7px;
    background-image: -webkit-linear-gradient(top, #fefefe, #f3f3f3);
    background-image: -moz-linear-gradient(top, #fefefe, #f3f3f3);
    cursor: pointer;
  }
.groupgraph {
    font: bold 18px Roboto, sans-serif;
    padding: 6px 7px;
    cursor: pointer;



  }
.groupgraph2 {
    font: bold 18px Roboto, sans-serif;
    padding: 6px 7px;
    cursor: pointer;
  }
.knobs_design {
    display : flex;
    flex-direction: column;
    justify-content:space-between;
    
}
.knobsRangement {
    display : flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
   
    
}
.file_db_button {
    display : flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-content: space-between;
    width : 100%;
    
    

}
#file_save, #db_save, #upload_data {

    background-color: #0996ce; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 0.3rem;
    width : 35%;
  
    
}
html {
  overflow-y: scroll;
}
#showLeft, #showRight, #showTab, #upload_data, #write_excel,#write_exceldb,#addText,#addText4, #write_excelTab4, #download, #download_data,#download_dataTab4,#download_datadb {
    background-color: #0996ce; 
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 0.3rem;
}
#showLeft:hover, #showRight:hover, #showTab:hover,#write_exceldb:hover, #write_excel:hover,#write_excelTab4:hover,#addText:hover,#addText4:hover, #download:hover,#download_data:hover,#download_datadb:hover,#download_dataTab4:hover  {
    background-color: #052b5e; 
    color: white;
}
#showLeft:active, #showRight:active, #showTab:active ,#write_exceldb:active, #write_excel:active,#write_excelTab4:active,#addText:active,#addText4:active, #download:active, #download_data:active,#download_dataTab4:active, #download_datadb:active{
    background-color: #052b5e; 
    color: white;
}
#clearLeft,#clearRight {
    background-color: #f11010; 
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 0.3rem;
}
#clearLeft:hover, #clearRight:hover {
    background-color: #5c0316; 
    color: white;
}
#clearLeft:active, #clearRight:active {
    background-color: #0c5e05; 
    color: white;
}
#file_save:hover, #db_save:hover {
    background-color: #052b5e; 
    color: white;
  }
#file_save:active,  #db_save:active{
    background-color: #0c960c; 
    color: white;
}

.eight-columns-div-for-charts {
        margin : auto;
        width : 100%;
        height : 100%;
        background-color:#f2f2f2;
        display : grid;
        grid-template-rows: 70% 10% ;
        grid-column-gap: 1rem;
        
        
    }
.styled-numeric-input input:invalid {
        border-color: #dc3545;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
        background-repeat: no-repeat;
        background-position: center right calc(0.375em + 0.1875rem);
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        outline: none;
      }

.tabDesign {
        display : flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-start;
        width : 90%;
        margin-bottom: 2rem;
    
    }

.tabDesigntab4 {
        display : flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width : 90%;
        margin-bottom: 2rem;

    }
.ipSide {
        display : flex;
        flex-direction: column;
        flex-wrap: nowrap;


    }
.stockSelectorClass2{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 14px;
        border-radius: 5px;
        width : 20rem;
}
.stockSelectorClass3{
        margin-top :10px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        border-radius: 5px;
        width: 25vw;

}
.stockSelectorClassPage3{
        margin-top :10px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        border-radius: 5px;
        width: 25vw;
        margin-left : 4rem
}

.export {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Plotly.js
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* PLotly.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* plotly.js's modebar's z-index is 1001 by default
 * https://github.com/plotly/plotly.js/blob/7e4d8ab164258f6bd48be56589dacd9bdd7fded2/src/css/_modebar.scss#L5
 * In case a dropdown is above the graph, the dropdown's options
 * will be rendered below the modebar
 * Increase the select option's z-index
 */

/* This was actually not quite right -
   dropdowns were overlapping each other (edited October 26)

.Select {
    z-index: 1002;
}*/



/* For devices larger than 400px */






/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300; }
h1 { font-size: 4.5rem; line-height: 1.2;  letter-spacing: -.1rem; margin-bottom: 2rem; }
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; margin-bottom: 1.8rem; margin-top: 1.8rem;}
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; margin-bottom: 1.5rem; margin-top: 1.5rem;}
h4 { font-size: 2.6rem; line-height: 1.35; letter-spacing: -.08rem; margin-bottom: 1.2rem; margin-top: 1.2rem;}
h5 { font-size: 2.2rem; line-height: 1.5;  letter-spacing: -.05rem; margin-bottom: 0.6rem; margin-top: 0.6rem;}
h6 { font-size: 2.0rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: 0.75rem; margin-top: 0.75rem;}

p {
  margin-top: 0; }


/* Blockquotes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote {
  border-left: 4px lightgrey solid;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit; /*https://stackoverflow.com/questions/6080413/why-doesnt-input-inherit-the-font-from-body*/}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: 0px; }
fieldset {
  padding: 0;
  border-width: 0; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }






/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 0rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 0rem; }
pre,
dl,
figure,
table,
form {
  margin-bottom: 0rem; }
p,
ul,
ol {
  margin-bottom: 0.75rem; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* smaller than tablet */
@media only screen and (max-width: 1200px) {
    .prstyle{
        flex-direction : column;
        align-items : center;
    }
    .abcdbpr {
        flex-direction : row;
        width : 80%;
    }
    .boxdesign3, .boxdesign4,.fourgraphpr_db,.thirdgraphpr_db{
        display : None
    }
    .abcdb {
        flex-direction : column;
    }



}

/* smaller than desktop */
@media only screen and (max-width: 1800px) {
    .abcdbpage4upleft{
        flex-direction : column;
    }
    .page4reel{
        flex-direction : column;
    }
    .abcdbpr {
        flex-direction : column;
       }
    .abc {
        flex-direction : column;
    }

    .stockSelectorClass3 {
        width : 22rem
    }
    .abcdbpr {
        flex-direction : row;
    }
    .abcdbprGraph {
        flex-direction : column;
    }



}




